<div class="control-section">
  <div class="toolbar-container">
    <ejs-toolbar>
      <e-items>
        <e-item id='Editar' text='Editar' (click)="handleEdit()" prefixIcon='e-icons e-edit'></e-item>
        <e-item id='Deletar' text='Deletar' (click)="handleDelete()" prefixIcon='e-icons e-delete'></e-item>
        <e-item id='Atualizar' text='Atualizar' [disabled]="!editMode" [style.color]="updateColor"
          (click)="handleUpdate()" prefixIcon='e-icons e-update'></e-item>
        <e-item id='Cancelar' text='Cancelar' [disabled]="!editMode" [style.color]="cancelColor"
          (click)="handleCancel()" prefixIcon='e-icons e-cancel'></e-item>
      </e-items>
    </ejs-toolbar>

    <ejs-toolbar>
      <e-items>
        <e-item [template]='searchTemplate'></e-item>
      </e-items>
    </ejs-toolbar>

    <ejs-toolbar>
      <e-items>
        <e-item [template]='dropdownStatusTemplate'></e-item>
      </e-items>
    </ejs-toolbar>

    <ejs-toolbar>
      <e-items>
        <e-item [template]='dropdownPeriodoTemplate'></e-item>
      </e-items>
    </ejs-toolbar>

    <ejs-toolbar class="margin-toolbar">
      <e-items>
        <e-item [template]='dropdownConcessaoTemplate'></e-item>
      </e-items>
    </ejs-toolbar>
  </div>
  <ejs-grid #overviewgrid [dataSource]='data' (queryCellInfo)="customization($event)" [allowPaging]='true'
    [allowFiltering]='true' [filterSettings]="filterSettings" [editSettings]='editOptions' [allowSorting]='true'
    gridLines='Both' (rowSelected)="rowSelected($event)">
    <e-columns>
      <e-column field='status' headerText='Status' editType="dropdownedit" [template]='statusTemplate'
        editType="dropdownedit" width='140'></e-column>
      <e-column field='id' [visible]='false' headerText='ID' [isPrimaryKey]='true'></e-column>
      <e-column field='documento' headerText='Documento' editType="dropdownedit" width='150'></e-column>
      <e-column field='rev' headerText='Rev' editType="dropdownedit" width='90'></e-column>
      <e-column field='documentoVinculado' [headerTemplate]='headerTemplateDocumentos' editType="dropdownedit"
        width='126'></e-column>
      <e-column field='agentesVinculados' [headerTemplate]='headerTemplateAgentes' editType="dropdownedit"
        width='125'></e-column>
      <e-column field='responsavel' headerText='Responsável' editType="dropdownedit" width='150'></e-column>
      <e-column field='concessao' headerText='Concessão' editType="dropdownedit" width='125'></e-column>
      <e-column field='gm' headerText='GM' editType="dropdownedit" width='90'></e-column>
      <e-column field='subestacao' headerText='Subestação' editType="dropdownedit" width='150'></e-column>
      <e-column field='inicio' headerText='Início' width='120'>
        <ng-template #editTemplate let-data>
          <ejs-datepicker [(value)]="data.Inicio" format='dd/MM/yyyy' locale="de"></ejs-datepicker>
        </ng-template>
      </e-column>
      <e-column field='termino' headerText='Termino' width='120'>
        <ng-template #editTemplate let-data>
          <ejs-datepicker [(value)]="data.Termino" format='dd/MM/yyyy' locale="de"></ejs-datepicker>
        </ng-template>
      </e-column>
      <e-column field='resumo' headerText='Resumo' width='120'></e-column>
      <e-column field='comentarios' headerText='Comentários' [template]='comentarioTemplate' [allowEditing]='false'
        width='150'></e-column>
    </e-columns>
  </ejs-grid>
</div>

<ng-template #statusTemplate let-data>
  <div class="status">
    <i [ngClass]="{
    'icon-edit': data.status === 'Elaboração',
    'icon-check': data.status === 'Aprovação',
    'pi pi-calendar': data.status === 'Agendada'
    }"></i>
    {{data.status}}
  </div>
</ng-template>

<ng-template #comentarioTemplate let-data>
  <div class="comentarios">
    <div>
      <i class="icon-comment"></i>
      {{data.comentarios}}
    </div>
  </div>
</ng-template>

<ng-template #searchTemplate>
  <input class="form-control" type="text" (input)="filterItems($event)" placeholder="Buscar">
  <i class="search-icon fa fa-search"></i>
</ng-template>

<ng-template #dropdownStatusTemplate>
  <div class="select-wrapper">
    <select class="form-control" (change)="filterByStatus($event)">
      <option value="">{{itemStatus.placeholder}}</option>
      <option *ngFor="let item of itemStatus.listData" [value]="item.text">{{item.text}}</option>
    </select>
  </div>
</ng-template>

<ng-template #dropdownPeriodoTemplate>
  <div class="select-wrapper">
    <select class="form-control" (change)="filterByPeriodo($event)">
      <option value="">{{itemPeriodo.placeholder}}</option>
      <option *ngFor="let item of itemPeriodo.listData" [value]="item.value">{{item.text}}</option>
    </select>
  </div>
</ng-template>

<ng-template #dropdownConcessaoTemplate>
  <div class="select-wrapper">
    <select class="form-control" (change)="filterByConcessao($event)">
      <option value="">{{itemConcessao.placeholder}}</option>
      <option *ngFor="let item of itemConcessao.listData" [value]="item.value">{{item.text}}</option>
    </select>
  </div>
</ng-template>
<ng-template #headerTemplateDocumentos>
  <div class="quebra-linha">Documento<br>Vinculado</div>
</ng-template>

<ng-template #headerTemplateAgentes>
  <div class="quebra-linha">Agentes<br>Vinculados</div>
</ng-template>