<div class="control-section">
    <ejs-grid [dataSource]='data' [query]='query' (dataBound)="dataBound()" (queryCellInfo)="customization($event)" #overviewgrid id='overviewgrid' rowHeight='38' [allowSelection]='true' [allowSorting]='true' [enableHover]='false' [enableHeaderFocus]='true' [selectionSettings]='selectionSettings' [filterSettings]='filterSettings' [allowFiltering]='true'>
        <e-columns>
          <e-column field='status' headerText='Status' width='120'></e-column>
          <e-column field='id' [visible]='false' headerText='ID' [isPrimaryKey]='true'></e-column>
          <e-column field='documento' headerText='Documento' clipMode='EllipsisWithTooltip' width='150'></e-column>
          <e-column field='rev' headerText='Rev' clipMode='EllipsisWithTooltip' width='90'></e-column>
          <e-column field='documentoVinculado' [headerTemplate]='headerTemplateDocumentos' clipMode='EllipsisWithTooltip' width='126'></e-column>
          <e-column field='agentesVinculados' [headerTemplate]='headerTemplateAgentes' clipMode='EllipsisWithTooltip' width='125'></e-column>
          <e-column field='responsavel' headerText='Responsável' clipMode='EllipsisWithTooltip' width='150'></e-column>
          <e-column field='concessao' headerText='Concessão' clipMode='EllipsisWithTooltip' width='150'></e-column>
          <e-column field='gm' headerText='GM' clipMode='EllipsisWithTooltip' width='90'></e-column>
          <e-column field='subestacao' headerText='Subestação' clipMode='EllipsisWithTooltip' width='150'></e-column>
          <e-column field='inicio' headerText='Início' clipMode='EllipsisWithTooltip' width='120'></e-column>
          <e-column field='termino' headerText='Termino' clipMode='EllipsisWithTooltip' width='120'></e-column>
          <e-column field='resumo' headerText='Resumo' clipMode='EllipsisWithTooltip' width='120'></e-column>
          <e-column field='comentarios' headerText='Comentários' clipMode='EllipsisWithTooltip' width='150'></e-column>
        </e-columns>
    </ejs-grid>
    
    <ng-template #headerTemplateDocumentos>
        <div class="quebra-linha">Documento<br>Vinculado</div>
      </ng-template>     

    <ng-template #headerTemplateAgentes>
        <div class="quebra-linha">Agentes<br>Vinculados</div>
      </ng-template>      
</div>
