.status{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  i{
    font-size: 15px;
    font-weight: bolder;
  }

}

.elaboracao {
  background-color: #FEFFD0 !important;
}

.aprovacao {
  background-color: #F7E5FF !important;
}

.agendada {
  background-color: #D0F7FF !important;
}


.quebra-linha {
  white-space: normal;
  line-height: 1.2;

  div{
    display: flex;
  }
}
